<!-- Navigation bar-->
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a
        routerLink="/"
        class="navbar-brand">
        Seasonal J-pop
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/about">About</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/login">Login</a>
        </li>
       </ul>
    </div>
  </div>
</nav>

<!-- Display router -->
<h1>-</h1>
<router-outlet></router-outlet>

<!-- Testing -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to {{title}}!!</h1>
      <h3>Inside app component</h3>
      <!--
      <hr>
      <input type="text" [(ngModel)]="body">
      <p>{{ body }}</p>
      -->
      <hr>
      <app-servers></app-servers>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-primary"
        (click)="onToggleDetails()">
        Display details
      </button>
      <p *ngIf="showSecret">
        Secret Password = tuna
      </p>
      <div
        *ngFor="let logItem of log; let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': i >= 4}">
        {{ logItem }}
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="container">
  <hr>
  Powered by <a href="https://www.getbootstrap.com/">Bootstrap</a> and <a href="https://angular.io/">Angular 4</a> - Website created by Michael Nguyen
  <br>
  Based on code found at David Violante's <a href="https://github.com/DavideViolante/Angular-Full-Stack">Angular Full Stack repository</a>
  <br>
  <br>
</div>
