<!-- Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark pink lighten-2 fixed-top">
  <div class="container">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a
      class="navbar-brand"
      routerLink="/">
      <strong>Seasonal J-pop</strong>
    </a>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li
          class="nav-item"
          routerLinkActive="active">
          <a class="nav-link" routerLink="/2017/1">Seasonal View</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
       </ul>
    </div>
  </div>
</nav>

<!-- Display router -->
<br>
<br>
<br>
<router-outlet></router-outlet>

<!-- Testing -->
<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to {{title}}!!</h1>
      <h3>Inside app component</h3>

      <hr>
      <input type="text" [(ngModel)]="body">
      <p>{{ body }}</p>

      <hr>
      <app-servers></app-servers>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-primary"
        (click)="onToggleDetails()">
        Display details
      </button>
      <p *ngIf="showSecret">
        Secret Password = tuna
      </p>
      <div
        *ngFor="let logItem of log; let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': i >= 4}">
        {{ logItem }}
      </div>
    </div>
  </div>
</div>
-->

<!-- Footer -->
<div class="container">
  <hr>
  Powered by <a href="https://www.getbootstrap.com/">Bootstrap</a> and <a href="https://angular.io/">Angular 4</a> - Website created by Michael Nguyen
  <br>
  Based on code found at David Violante's <a href="https://github.com/DavideViolante/Angular-Full-Stack">Angular Full Stack repository</a>
  <br>
  <br>
</div>
