<div class="container">
    <h1>About Seasonal J-pop</h1>
    <p>
      This is an application that is powered by the MEAN stack. It serves to make finding the music related to a given season easier and provide information on when and where the music can be purchased.
    </p>
    <!-- Obfuscation CSS based on http://ch.tilllate.com/061101_emailtest.php -->
    <style type="text/css">span.cd { unicode-bidi: bidi-override; direction: rtl; }</style>
    <p>For any inquiries regarding this website, I can be reached at:
    <span class="cd"><a href="mailto: {{ mr }}" class ="cd">{{ host }}{{ at }}{{ user }}</a></span>
    </p>
</div>
