<div class="container">
  <h4>Welcome to Seasonal J-pop!</h4>
  <h5>This website is currently in development. You can see some sample data by pressing on "Seasonal View" at the top.</h5>
</div>
<!-- <app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container" *ngIf="!isLoading">
  <div>
    <h4>There are {{ animeList.length }} anime in this list.</h4>
    <h5>This page displays <strong>all</strong> the anime in this mongoDB.</h5>
    <h5>You can use https://app.michaelmnguyen.me/api/music/MUSIC_ID to get information on a song.</h5>
  </div>
</div>
<div class="container" *ngIf="animeList.length === 0">
  <p>There is no anime in the db.</p>
</div>
<div class="container" *ngIf="!(animeList.length === 0)">
  <div class="card-columns">
    <div class="card" *ngFor="let anime of animeList">
      <div class="card-block">
        <h4 class="card-title">{{ anime.title_jp }}</h4>
        <div class="card-body">
          Eng title: {{ anime.title_en }}
          <br>
          Start date: {{ anime.airing_date }}
          <br>
          <table class="table table-bordered table-striped">
            <thead class="thead-default">
              <tr>
                <th>Music ({{ anime.music_list.length }})</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let music of anime.music_list">
                <td>Music ID: {{ music }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
